h1{
    color:white;
}
.main{
    display: flex;
    justify-content: center;
    gap:20px;
    margin-top: 50px;
}
.main1{
    display: flex;
    justify-content: center;
    gap:20px;
    margin-top: 50px;
}